<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Timer Application
        </h3>
    </div>
<form method="post" action="/images" enctype="multipart/form-data">
        <div class="panel-body form-horizontal">
		<p>Welcome to the Timer Application that allows you to set multiple shared device timers <br><br>
		The timer app lets you:<br>
		- Set multiple times<br>
		- Share	these times across multiple devices<br>
		- Received named alerts when a timer has expired<br>
		- Over time indication so you know how burnt your food is</p>
	 </div>
    </form>
</div>
<!----
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Newest Images
        </h3>
    </div>
    <div class="panel-body">
        {{#each images}}
            <div class="col-md-4 text-center" style="padding-bottom: 1em;"><a href="/images/{{ uniqueId }}"><img src="/public/upload/{{filename}}" alt="{{title}}" style="width: 175px; height: 175px;"  class="img-thumbnail"></a></div>
        {{/each}}
    </div>
</div>
--->
